# ==============================================================================
#              CITIZEN Portal - SECURE SYSTEM VARIABLES EXEMPLAR
# ==============================================================================

# Server Hosting Port & Environment
NODE_ENV="development"
PORT=3000

# Security Cleared JWT Auth Parameters
# Ensure to replace the secret with a strong cryptographically random key in production
JWT_SECRET="gov_supreme_security_key_level_6_2026"
JWT_EXPIRY="7d"

# Relational SQL Postgres Datastore Url
DATABASE_URL="postgresql://gov_admin:gov_sec_pass_2026@localhost:5432/citizen_db?schema=public"

# In-Memory Cache ioredis client link
REDIS_URL="redis://127.0.0.1:6379"

# Public Access Parameters for Gateway Identity Checkers
APP_URL="https://ais-dev-fz4mhbi5ati5fddndelrmx-34201542726.asia-east1.run.app"
GEMINI_API_KEY="MY_GEMINI_API_KEY"
